import FWCore.ParameterSet.Config as cms

from UserCode.bsmhiggs_fwk.mainNtuplizer_cfi import *

from RecoEgamma.EgammaTools.EgammaPostRecoTools import setupEgammaPostRecoSeq
from PhysicsTools.PatUtils.tools.runMETCorrectionsAndUncertainties import runMetCorAndUncFromMiniAOD

process.load("FWCore.MessageService.MessageLogger_cfi")
process.MessageLogger.cerr.FwkReport.reportEvery = 5000

process.load("PhysicsTools.PatAlgos.producersLayer1.patCandidates_cff")
process.load("Configuration.EventContent.EventContent_cff")
process.maxEvents = cms.untracked.PSet( input = cms.untracked.int32(-1) )

#load run conditions
#process.load('Configuration.StandardSequences.FrontierConditions_GlobalTag_cff')
process.load('Configuration.Geometry.GeometryIdeal_cff')
process.load('Configuration.StandardSequences.MagneticField_38T_cff')

process.load('RecoMET.METFilters.ecalBadCalibFilter_cfi')
#------ Declare the correct global tag ------#
process.load('Configuration.StandardSequences.FrontierConditions_GlobalTag_condDBv2_cff')
#process.GlobalTag.globaltag = '94X_dataRun2_v6'
process.GlobalTag.globaltag = '94X_mc2017_realistic_v14'
process.GlobalTag.globaltag = '@gtag'

process.options   = cms.untracked.PSet(
   allowUnscheduled = cms.untracked.bool(True)
)

#declare producer for ecalBadCalibReducedMINIAODFilter
#https://twiki.cern.ch/twiki/bin/view/CMS/MissingETOptionalFiltersRun2
baddetEcallist = cms.vuint32(
  [872439604,872422825,872420274,872423218,
   872423215,872416066,872435036,872439336,
   872420273,872436907,872420147,872439731,
   872436657,872420397,872439732,872439339,
   872439603,872422436,872439861,872437051,
   872437052,872420649,872422436,872421950,
   872437185,872422564,872421566,872421695,
   872421955,872421567,872437184,872421951,
   872421694,872437056,872437057,872437313])

process.ecalBadCalibReducedMINIAODFilter = cms.EDFilter(
  "EcalBadCalibFilter",
  EcalRecHitSource = cms.InputTag("reducedEgamma:reducedEERecHits"),
  ecalMinEt        = cms.double(50.),
  baddetEcal       = baddetEcallist,
  taggingMode      = cms.bool(True),
  debug            = cms.bool(False)
  )

#rerun energy correction for electrons
setupEgammaPostRecoSeq(process,
    era='2018-Prompt')

runOnMC=@isMC

if runOnMC:
  runMetCorAndUncFromMiniAOD(process,
    isData=False,
  )

else:
  runMetCorAndUncFromMiniAOD(process,
      isData=True,
  )

process.mainNtuplizer.isMC = cms.bool(@isMC)
process.mainNtuplizer.dtag = cms.string("@dtag")
process.mainNtuplizer.xsec = cms.double(@xsec)
process.mainNtuplizer.mctruthmode = cms.int32(@mctruthmode)
process.mainNtuplizer.verbose = cms.bool(@verbose)
process.mainNtuplizer.metFilterBitsTag = cms.InputTag('TriggerResults','','HLT')

process.source = cms.Source("PoolSource",
        fileNames = cms.untracked.vstring(),
        inputCommands=cms.untracked.vstring( 
        'keep *', 
        'drop *_ctppsLocalTrackLiteProducer_*_RECO'
        )
)

process.TFileService = cms.Service("TFileService",
			fileName = cms.string("analysis.root")
)

process.p = cms.Path(
    process.ecalBadCalibReducedMINIAODFilter *
    process.fullPatMetSequence *
    process.egammaPostRecoSeq *
    process.mainNtuplizer 
    )	
